/* buttons */
.btn {
    background-color: var(--secondary);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    display: inline-block;
    transition: .35s;
    margin-top: 10px;
}

.btn:hover {
    background-color: #aa4e33;
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, .2);
}

.btn-2nd {
    background-color: var(--primary);
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: none;
    transition: .35s;
}

.btn-2nd:hover {
    background-color: #465b24;
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, .2);
}
